<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    {{#list cars}}
        {{this}}
    {{/list}}
    {{#list ds}}
        {{name}} - {{country}}
    {{/list}}
    <h1 style="color: rgb(133, 189, 238);">Home page</h1>
    <ul>
        <li><a href="/new">New Employee</a></li>
        <li><a href="/all">View all</a></li>
    </ul>
</body>
</html>